html {
    height: 100%;
}

body {
    background-color: $silver-100;
    font-size: 20px;
    color: $darcBlue-900;
    @extend %Rubik-400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    margin-bottom: 6.25vw;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title{
    @extend %Rubik-500;
    font-size: calc(24px + (36 - 24) * ((100vw - 375px) / (1920 - 375)));
    text-align: center;
    margin-bottom: 3.125vw;
}
.menu__link,
.menu__btn,
.logo,
.hero__order-btn,
.hero__detailed-btn,
.footer__subscribe-email,
.footer__subscribe-btn,
.categories-nav__btn,
.card__btn {
    border-radius: 5px;
    outline: 0;
    transition: outline 0.3s, opacity 0.3s, color 0.3s, text-shadow 0.3s, background-color 0.3s;
}

.menu__link:focus,
.menu__btn:focus,
.logo:focus,
.hero__order-btn:focus,
.hero__detailed-btn:focus,
.footer__subscribe-email:focus,
.footer__subscribe-btn:focus,
.footer__subscribe-btn:hover,
.categories-nav__btn:focus,
.categories-nav__btn:hover,
.card__btn:focus {
    outline: 2px solid $orange-900;
}

.card__detailed-btn,
.hero__detailed-btn {
    text-decoration: underline;

    &:focus {
        text-decoration: none;
    }
    &:hover {
        color: $orange-900;
    }
    &:active {
        text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
        color: $darcBlue-900;
    }
}