

%Rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%Rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%Rubik-italic{
    font-family: 'Rubik-Italic', sans-serif;
    font-weight: 400;
    font-style: italic;
}

$size-lg: 1200;
$size-md: 992;
$size-sm: 768;
$size-xs: 576;