$righPos: calc(((100vw - 1170px) /2));
   
.application {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right $righPos center;

    @include r($size-lg) {
        background-position: right 15px center;
    }

    @include r($size-xs) {
        background-size: 0;
    }

    &__content {
        max-width: 470px;
        padding: size(40, 0);
        background-color: rgba($c-white, 0.85);
    }

    &__title {
        margin-bottom: size(45, 15);
        text-align: left;
    }

    &__info {
        font-size: size(20, 14);
        line-height: 1.5;
        margin-bottom: size(30, 15);
    }

    &__list {
        display: flex;
        gap: 30px;
    }
}
.app-icon {
    display: block;
    width: 120px;
    height: 100px;
    background-image: url(../images/application/app_store.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

        &--google {
            width: 135px;
            background-image: url(../images/application/play_store.png);
        }
}