
.menu {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    



    &__link {
        font-style: 18px;
        letter-spacing: 0.01em;
        border-radius: 5px;
        outline: 2px solid transparent;
        transition: text-shadow 0.3s,  outline-color 0.3s, color 0.3s;

        &:focus {
            outline-color: rgba($c-orange-900, 0.7);
        }
    
        &:hover {
            color: $c-orange-900;
        }
    
        &:active {
            text-shadow: 2px 2px 5px rgba($c-dark, 0.5);
            outline-color: transparent;
        }

        &--current {
            color: $c-orange-900;
        }
    }

}