.reviews-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: size(40, 20);
    padding: 0 size(90, 0);

    &__img {
        border-radius: 50%;
        max-width: size(300, 100);
        width: 100%;
        height: size(300, 100);
        flex-basis: 100px;
        margin: 0 auto;
        object-fit: contain;

        @include r($size-xs) {
            margin-bottom: 5px;
        }
    }

    &__content {
        max-width: 650px;
        padding: 0 40px;
        flex-basis: 320px;
        flex-grow: 1;
        width: 100%;
    }

    &__text {
        font-style: italic;
        font-weight: 400;
        font-size: size(20, 14);
        line-height: 1.5;
        position: relative;
        margin-bottom: size(30, 20);

        &::before,
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            mask-image: url('../images/sprite.svg#icon-quote-open');
            background-color: $c-gray;            
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }

        &::before {
            top: 0;
            left: -40px;

            @include r($size-xs) {
                top: -10px;
                left: -35px;
            }
        }


        &::after {
            mask-image: url('../images/sprite.svg#icon-quote-close');
            bottom: 0;
            right: -40px;

            @include r($size-xs) {
                bottom: 10px;
                right: -35px;
            }
        }
    }

    &__name {
        font-size: size(20, 16);
        font-weight: 500;
        color: $c-orange-900;
        margin-bottom: size(15, 10);
    }
    &__info {}

    &__detalils {
        font-size: 14px;
    }
}