<div class="categories">
    <ul class="categories-nav">
        <li class="categories-nav__item">
            <button class="categories-nav__btn" data-filter=".burger" type="button">Бургери</button>
        </li>
        <li class="categories-nav__item">
            <button class="categories-nav__btn categories-nav__btn--pizza" data-filter=".pizza"
                type="button">Піца</button>
        </li>
        <li class="categories-nav__item">
            <button class="categories-nav__btn categories-nav__btn--sandvich" data-filter=".sandvich"
                type="button">Сендвічі</button>
        </li>
        <li class="categories-nav__item">
            <button class="categories-nav__btn categories-nav__btn--asia" data-filter=".asia" type="button">Азіатська
                кухні</button>
        </li>
        <li class="categories-nav__item">
            <button class="categories-nav__btn categories-nav__btn--set" data-filter=".set" type="button">Сети</button>
        </li>
    </ul>

    <ul class="product">
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/chease-with-salad.jpg" alt="Чізбургер з листям салату"
                width="140px">
            <h2 class="card__name">Чізбургер з листям салату</h2>
            <span>160 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/beefburger.jpg" alt="Біфбургер" width="140px">
            <h2 class="card__name">Біфбургер</h2>
            <span>190 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/royal-chese.jpg" alt="Королівський чізбургер" width="140px">
            <h2 class="card__name">Королівський чізбургер</h2>
            <span>260 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/black-burger.jpg" alt="Чорний гамбургер" width="140px">
            <h2 class="card__name">Чорний гамбургер</h2>
            <span>199 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/chicken-burger.jpg" alt="Чікен бургер" width="140px">
            <h2 class="card__name">Чікен бургер</h2>
            <span>160 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/chease-with-salad.jpg" alt="Чізбургер з листям салату"
                width="140px">
            <h2 class="card__name">Чізбургер з листям салату</h2>
            <span>160 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/beefburger.jpg" alt="Біфбургер" width="140px">
            <h2 class="card__name">Біфбургер</h2>
            <span>190 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/royal-chese.jpg" alt="Королівський чізбургер" width="140px">
            <h2 class="card__name">Королівський чізбургер</h2>
            <span>260 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/black-burger.jpg" alt="Чорний гамбургер" width="140px">
            <h2 class="card__name">Чорний гамбургер</h2>
            <span>199 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <li class="card mix burger">
            <img class="card__img" src="images/burgers/chicken-burger.jpg" alt="Чікен бургер" width="140px">
            <h2 class="card__name">Чікен бургер</h2>
            <span>160 грн.</span>
            <button class="card__btn" type="button">До кошика</button>
        </li>
        <button class="card__detailed-btn" type="button">Показати ще</button>
    </ul>

</div>