<section class="delivery mb-120" style="background-image: url(images/food_delivery.png);">
    <div class="container">
        <div class="delivery__wrapper">
            <div class="delivery__info">
                <h2 class="title title-start">Залишайтеся вдома, а ми потурбуємося про їжу</h2>
                <div class="delivery__description">
                    <p>
                        У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо
                        зараз
                        та
                        отримайте знижку!
                    </p>
                </div>
                <ul class="delivery__list">
                    <li class="delivery__item ">Швидка доставка за 15 хвилин</li>

                    <li class="delivery__item delivery__item--courier">Чемні кур’єри</li>

                    <li class="delivery__item delivery__item--restoraunte">Більше 500 закладів</li>
                </ul>
                <a class="btn" href="#">Детальніше</a>
            </div>
        </div>
    </div>
</section>