<section class="hero section">
    <div class="container">
        <div class="hero__wrapper"  style="background-image: url(images/scooter_guy.png);">
            <div class="hero__inner">
            <p>
                <span>Доставка<span> за 15 ХВИЛИН</span></span>
                Найшвидший сервіс доставки їжі у вашому місті. Якщо запізнемось - то доставка за наш рахунок
            </p>
            <button class="hero__order-btn" type="button">Замовити</button>
            <button class="hero__detailed-btn" type="button">Детальніше</button>
        </div>
        </div>
    </div>
</section>