<section class="popular mb-120">
    <div class="container">
    <h2 class="title">Популярне в категоріях</h2>
        <ul class="categories-nav popular__nav">
            <li class="categories-nav__item">
                <button class="categories-nav__btn icon icon--burger" data-filter="category-1" type="button">Бургери</button>
            </li>
            <li class="categories-nav__item">
                <button class="categories-nav__btn icon icon--pizza" data-filter="category-2" type="button">Піца</button>
            </li>
            <li class="categories-nav__item">
                <button class="categories-nav__btn icon icon--sandvich" data-filter="category-3" type="button">Сендвічі</button>
            </li>
            <li class="categories-nav__item">
                <button class="categories-nav__btn icon icon--asia" data-filter="category-4" type="button">Азіатська
                    кухня</button>
            </li>
            <li class="categories-nav__item">
                <button class="categories-nav__btn icon icon--set" data-filter="category-5" type="button">Сети</button>
            </li>
        </ul>
    
        <ul class="categories-list popular__list">
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чізбургер з листям салату</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/chease-with-salad.jpg"
                            alt="Чізбургер з листям салату" width="140">
                    </a>
                    <div class="product-card__price">
                        160<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Біфбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/beefburger.jpg" alt="Біфбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        190<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Королівський чізбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/royal-chese.jpg" alt="Королівський чізбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        260<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
    
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чорний гамбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/black-burger.jpg" alt="Чорний гамбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        199<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чікен бургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/chicken-burger.jpg" alt="Чікен бургер" width="140">
                    </a>
                    <div class="product-card__price">
                        160<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чізбургер з листям салату</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/chease-with-salad.jpg"
                            alt="Чізбургер з листям салату" width="140">
                    </a>
                    <div class="product-card__price">
                        160<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Біфбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/beefburger.jpg" alt="Біфбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        190<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Королівський чізбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/royal-chese.jpg" alt="Королівський чізбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        260<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
    
            <li class="categories-list__item category-1">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чорний гамбургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/black-burger.jpg" alt="Чорний гамбургер" width="140">
                    </a>
                    <div class="product-card__price">
                        199<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
            <li class="categories-list__item">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <h3 class="product-card__title">Чікен бургер</h3>
                    </a>
                    <a class="proguct-card__link" href="#">
                        <img class="product-card__img" src="images/burgers/chicken-burger.jpg" alt="Чікен бургер" width="140">
                    </a>
                    <div class="product-card__price">
                        160<span class="product-card__currency">грн.</span>
                    </div>
                    <button class="btn btn--md product-card__btn" type="button">До кошика</button>
                </article>
            </li>
        </ul>
        <button class="td-link popular__btn" type="button">Показати ще</button>
</div>
</section>