<section class="restaurants mb-120">
    <div class="container">
        <h2 class="title">Найкращі ресторани</h2>
        <ul class="restaurants__list">
            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">Blaze Pizza</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_1.jpg"
                            alt="фото Blaze Pizza" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            11:00 - 22:00
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>

            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">Pizza Runcho</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_2.jpg"
                            alt="Фото Pizza Runcho" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            12:00 - 21:00
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>

            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">Pizza Hut</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_3.jpg"
                            alt="Фото Pizza Hut" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            11:00 - 22:00
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>

            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">McDonald`s</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_4.jpg"
                            alt="McDonald`s" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            06:00 - 23:00
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>

            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">KFC</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_5.jpg"
                            alt="Фото KFC" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            06:00 - 23:30
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>

            <li class="restaurants__list-item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link" href="#">
                        <h3 class="restaurants-card__title">Star Burgers</h3>
                    </a>
                    <a class="restaurants-card__link" href="#">
                        <img class="restaurants-card__img" src="images/resto/resto_6.jpg"
                            alt="Фото Star Burgers" width="360">
                    </a>

                    <div class="restaurants-card__inner">
                        <div class="restaurants-card__time">
                            11:00 - 22:00
                        </div>
                        <a class="btn restaurants-card__btn"></a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>