<section class="reviews mb-120">
    <h2 class="title">Відгуки клієнтів</h2>
    <div class="container">
        <figure class="quote">
            <img src="images/daryna.jpg" alt="Фото Дарини" class="quote__img" width="300" height="300">
            <div class="quote__inner">
                <blockquote class="quote__text">SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у
                    місті. Дуже зручний сайт та застосунок. Їхні доставники дуже ввічливі та пунктуальні. Компанія часто
                    проводить акції та дарує знижки на доставку - однозначно рекомендую!</blockquote>
                <figcaption class="quote__name"> Дарина</figcaption>
                <p>Поціновувачка смачної їжі</p>
            </div>
        </figure>
    </div>
</section>